@import "tailwindcss";

@font-face {
    font-family: 'chulabhornlikittext-light';
    src: url('/fonts/chulabhornlikittext-light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'chulabhornlikittext-light', sans-serif;
  }
